/* Minimal reset */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    outline: none;
}

/* Formatting */

@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto.ttf");
    font-display: swap;
}

:root {
    --body-backup-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template-columns: clamp(218px, 21vw, 350px) 1fr;
    background-color: #e1e1e1;
    font-family: Roboto, var(--body-backup-font);
}

img {
    height: 1em;
}

img[src$=".png"] {
    height: 3rem;
}

header.menu {
    background-color: #539ddf;
    grid-column: 1/2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

header.menu img {
    filter: invert(100%);
}

header.menu > a:first-child {
    font-size: 1.75rem;
}

header.menu a {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
}

header.menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main {
    display: grid;
    grid-template-columns: auto minmax(250px, 1fr);
    grid-template-rows: repeat(4, auto);
}

main > * {
    padding: 1rem;
}

main h4 {
    margin-bottom: 0.5rem;
}

nav.top {
    grid-column: 1/3;
    padding: 1rem;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 1.25rem;
    box-shadow: 0px 2px 13px -3px #78787891;
}

.top-row {
    display: flex;
}

.top-row div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.top-row div label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-row label img {
    height: 1.5rem;
}

.top-row div:first-child {
    flex: 1;
}

.top-row input[type="search"] {
    height: 1.75rem;
    border-radius: 1.25rem;
    border: none;
    background-color: lightgrey;
    width: 40ch;
    padding: 0 2%;
    flex: 0.7;
}

.bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.75rem;
}

.bottom-row figure.user {
    display: flex;
    gap: clamp(0.5rem, 3.25%, 0.75rem);
    align-items: center;
}

.bottom-row figure.user figcaption {
    font-weight: 600;
}

.bottom-row figure.user figcaption span {
    font-size: 0.8em;
    font-style: italic;
}

.action-buttons {
    display: flex;
    justify-content: end;
    gap: 1rem;
    min-width: 300px;
}

.action-buttons button {
    border: none;
    border-radius: 1.25rem;
    padding: 0.5rem clamp(1rem, 5%, 2rem);
    background-color: #77aae6;
    color: white;
    font-weight: bold;
    width: auto;
    flex: 1 1 0;
}

.project-article-container {
    grid-row: 2 / -1;
}

.project-articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    gap: 1rem;
}

.project-article {
    padding: 2rem 1.25rem;
    box-shadow: 5px 2px 8px -3px #9f9f9f;
    display: grid;
    grid-template-rows: auto auto 2rem auto;
    grid-template-columns: repeat(4, auto);
    column-gap: 0.5rem;
    background: linear-gradient(
        to right,
        #fdd41e 2%,
        white 3%
    );
}

.project-article h5 {
    grid-column: 1/-1;
    align-self: end;
}

.project-article p {
    grid-column: 1/-1;
}

.project-article img:nth-child(3) {
    grid-column: -3/-4;
    grid-row: -1;
}

.project-article img:nth-child(4) {
    grid-column: -2/-3;
    grid-row: -1;
}

.project-article img:nth-child(5) {
    grid-column: -1/-2;
    grid-row: -1;
}

.announcements {
    grid-row: 2/3;
}

.announcements article p, 
.trending figcaption p {
    font-size: max(12px, 0.75rem);
    color: #464646;
}

.announcements-section {
    background-color: white;
    display: grid;
    row-gap: 1rem;
    padding: 2rem 1.5rem;
    align-content: start;
}

.gray-line {
    height: 1px;
    background-color: #555555;
}

.trending {
    grid-row: 3/4;
}

.trending-section {
    background-color: white;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.trending-section figure {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.trending-section figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.project-article,
.announcements-section,
.trending-section {
    border-radius: 1rem;
}

main article > h5,
main h4 {
    font-weight: bold;
}

footer {
    grid-column: 1/3;
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

footer svg {
    color: #414141;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.5rem;
    transition: transform 0.5s ease-in-out;
}

footer svg:hover {
    transform: rotate(360deg) scale(1.2);
}